body {
  font-family: Epilogue;
  font-size: 15px;
  line-height: 1.4em;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
}

#navbar {
  background-color: rgb(177, 177, 177);
}

#navbar ul {
  padding: 0px;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  text-decoration: none;
  color: rgb(46, 46, 46);
  padding-right: 15px;
  font-size: 18px;
}

#welcome-galaxy {
  background-image: url(https://images.hdqwalls.com/download/coastal-town-minimalist-4k-51-1366x768.jpg);
  color: #fff;
  background-position: center right;
  height: 300px;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 150px;
  font-size: 35px;
  line-height: 1.6em;
}

html {
  color: rgb(46, 46, 46);
  background-color: rgb(255, 255, 255);
}

html a {
  color: rgb(46, 46, 46);
  line-height: 2em;
}

html,
body {
  margin: 0;
}

.center-align {
  text-align: center;
}

.box {
  border: 1px solid rgb(46, 46, 46);
  background-color: white;
  width: 500px;
  background-position: center-right;
  margin: auto;
  color: rgb(46, 46, 46);
  text-align: center;
  margin-bottom: 100px;
}
